.about {
    width: 100%;
    height: 90vh;
    display: flex;
  }
  
  .aboutLeft {
    height: 100%;
    flex: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .aboutRight {
    height: 100%;
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .aboutRight p {
    width: 100%;
  }
  
  .about .aboutRight h1 {
    font-weight: 400;
    font-size: 70px;
    color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
  }
  